In [77]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [78]:
df =  pd.read_csv(r'C:\Users\madhuri\Desktop\letsupgrade\Day24\general_data.csv')

In [79]:
df.head()
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4382 entries, 0 to 4408
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4382 non-null   int64
 1   Attrition                4382 non-null   object
 2   BusinessTravel           4382 non-null   object
 3   Department               4382 non-null   object
 4   DistanceFromHome         4382 non-null   int64
 5   Education                4382 non-null   int64
 6   EducationField           4382 non-null   object
 7   EmployeeCount            4382 non-null   int64
 8   EmployeeID               4382 non-null   int64
 9   Gender                   4382 non-null   object
 10  JobLevel                 4382 non-null   int64
 11  JobRole                  4382 non-null   object
 12  MaritalStatus            4382 non-null   object
 13  MonthlyIncome            4382 non-null   int64
 14  NumCompaniesWorked       4382 non-null   float64
 15  Over18                   4382 non-null   object
 16  PercentSalaryHike        4382 non-null   int64
 17  StandardHours            4382 non-null   int64
 18  StockOptionLevel         4382 non-null   int64
 19  TotalWorkingYears        4382 non-null   float64
 20  TrainingTimesLastYear    4382 non-null   int64
 21  YearsAtCompany           4382 non-null   int64
 22  YearsSinceLastPromotion  4382 non-null   int64
 23  YearsWithCurrManager     4382 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 855.9+ KB

In [80]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
objList = df.select_dtypes(include = "object").columns
for feat in objList:
    df[feat] = lb.fit_transform(df[feat].astype(str))

In [81]:
df = df.drop(['EmployeeID','EmployeeCount','Over18'],axis = 1)
y = df['Attrition']
x = df.drop(['Attrition'],axis = 1)
print(x)
print(y)

      Age  BusinessTravel  Department  DistanceFromHome  Education  \
0      51               2           2                 6          2
1      31               1           1                10          1
2      32               1           1                17          4
3      38               0           1                 2          5
4      32               2           1                10          1
...   ...             ...         ...               ...        ...
4404   29               2           2                 4          3
4405   42               2           1                 5          4
4406   29               2           1                 2          4
4407   25               2           1                25          2
4408   42               2           2                18          2

      EducationField  Gender  JobLevel  JobRole  MaritalStatus  MonthlyIncome  \
0                  1       0         1        0              1         131160
1                  1       0         1        6              2          41890
2                  4       1         4        7              1         193280
3                  1       1         3        1              1          83210
4                  3       1         1        7              2          23420
...              ...     ...       ...      ...            ...            ...
4404               4       0         2        1              2          35390
4405               3       0         1        6              2          60290
4406               3       1         1        2              0          26790
4407               1       1         2        7              1          37020
4408               3       1         1        2              0          23980

      NumCompaniesWorked  PercentSalaryHike  StandardHours  StockOptionLevel  \
0                    1.0                 11              8                 0
1                    0.0                 23              8                 1
2                    1.0                 15              8                 3
3                    3.0                 11              8                 3
4                    4.0                 12              8                 2
...                  ...                ...            ...               ...
4404                 1.0                 18              8                 0
4405                 3.0                 17              8                 1
4406                 2.0                 15              8                 0
4407                 0.0                 20              8                 0
4408                 0.0                 14              8                 1

      TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0                   1.0                      6               1
1                   6.0                      3               5
2                   5.0                      2               5
3                  13.0                      5               8
4                   9.0                      2               6
...                 ...                    ...             ...
4404                6.0                      2               6
4405               10.0                      5               3
4406               10.0                      2               3
4407                5.0                      4               4
4408               10.0                      2               9

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     0
1                           1                     4
2                           0                     3
3                           7                     5
4                           0                     4
...                       ...                   ...
4404                        1                     5
4405                        0                     2
4406                        0                     2
4407                        1                     2
4408                        7                     8

[4382 rows x 20 columns]
0       0
1       1
2       0
3       0
4       0
       ..
4404    0
4405    0
4406    0
4407    0
4408    0
Name: Attrition, Length: 4382, dtype: int32

In [82]:
from sklearn.model_selection import train_test_split

In [83]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)

In [84]:
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier(max_depth=8)
decision_tree.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [85]:
y_pred = decision_tree.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

In [86]:
from sklearn.metrics import confusion_matrix,classification_report
con = confusion_matrix(y_pred,y_test)
clas = classification_report(y_pred,y_test)
print(con)
print(clas)

[[702  82]
 [ 15  78]]
              precision    recall  f1-score   support

           0       0.98      0.90      0.94       784
           1       0.49      0.84      0.62        93

    accuracy                           0.89       877
   macro avg       0.73      0.87      0.78       877
weighted avg       0.93      0.89      0.90       877

In [87]:
df.describe()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,...,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
count,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000,...,4382.000000,4382.000000,4382.000000,4382.0,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000
mean,36.933364,0.160885,1.607257,1.260840,9.198996,2.912369,2.247147,0.599270,2.063898,4.459836,...,65061.702419,2.693291,15.210634,8.0,0.794614,11.290278,2.798266,7.010497,2.191693,4.126198
std,9.137272,0.367467,0.665635,0.527461,8.105396,1.024728,1.329810,0.490102,1.106115,2.461038,...,47142.310175,2.497832,3.663007,0.0,0.852397,7.785717,1.289402,6.129351,3.224994,3.569674
min,18.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,...,10090.000000,0.000000,11.000000,8.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,0.000000,1.000000,1.000000,2.000000,2.000000,1.000000,0.000000,1.000000,2.000000,...,29110.000000,1.000000,12.000000,8.0,0.000000,6.000000,2.000000,3.000000,0.000000,2.000000
50%,36.000000,0.000000,2.000000,1.000000,7.000000,3.000000,2.000000,1.000000,2.000000,5.000000,...,49190.000000,2.000000,14.000000,8.0,1.000000,10.000000,3.000000,5.000000,1.000000,3.000000
75%,43.000000,0.000000,2.000000,2.000000,14.000000,4.000000,3.000000,1.000000,3.000000,7.000000,...,83790.000000,4.000000,18.000000,8.0,1.000000,15.000000,3.000000,9.000000,3.000000,7.000000
max,60.000000,1.000000,2.000000,2.000000,29.000000,5.000000,5.000000,1.000000,5.000000,8.000000,...,199990.000000,9.000000,25.000000,8.0,3.000000,40.000000,6.000000,40.000000,15.000000,17.000000

In [100]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)
features = ['BusinessTravel','Department','DistanceFromHome','Education','EducationField','Gender','JobLevel','JobRole','MonthlyIncome','NumCompaniesWorked','PercentSalaryHike','StandardHours','StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager']
rf.fit(df[features],df['Attrition'])
print(rf.oob_score_);

1.0

In [108]:
for feature,imp in zip(features,rf.feature_importances_):
    print(feature,imp)

BusinessTravel 0.0316463852616821
Department 0.028465179819623522
DistanceFromHome 0.08372924044746582
Education 0.04715870609380721
EducationField 0.04770707822409409
Gender 0.021458754392105036
JobLevel 0.04411102115694724
JobRole 0.06461026670573625
MonthlyIncome 0.11175992125703595
NumCompaniesWorked 0.06320216050920768
PercentSalaryHike 0.0775485637058522
StandardHours 0.0
StockOptionLevel 0.038483849077174365
TotalWorkingYears 0.10293283167126377
TrainingTimesLastYear 0.051476953793744396
YearsAtCompany 0.0762465095042382
YearsSinceLastPromotion 0.04861919064650638
YearsWithCurrManager 0.060843387733515865

In [109]:
#montly income #total working years  have major affect on attrition